.minnie-container {
  position: relative;
  top: -200px;
  margin: 0 auto;
}

.minnie {
  display: flex;
  overflow: hidden;
  justify-content: space-between; /* Espacement égal entre les images */
}

.minnie-slide {
  flex: 0 0 auto; /* Permet aux éléments de ne pas se rétrécir */
  margin-right: 10px; /* Espacement entre les images */
}

.movie-poster {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev-button {
  left: -50px;
}

.next-button {
  right: -50px;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
}
