.modif {
    color: var(--rose);
}

.row-espace-client {
    margin: 10px 0;
    padding: 15px;
}


.btn-valider {
    font-weight: bold;
    background-color: var(--rose);
    padding: 0 20px;
}

.espace-btn {
    display: flex;
    justify-content: space-between;
}

.lien-gras {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

.conteneur-modifcompte {
    background-color: var(--jaune);
    padding: 20px;
    border-radius: 10px;
    line-height: 10px;
    margin-bottom: 15px;
}

.titreLabel {
    margin: 10px 0px;
}

.compteModif {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
