/* CONTENEUR GLOBAL A FAIRE OU AUTRE POUR ALIGNER LES FORM AVEC LES AUTRES ELEMENTS */

.modif {
    color: var(--rose);
}

.row-espace-client {
    margin: 10px 0;
    padding: 15px;
}

/* Pour styliser et bien placer les boutons sur cette page */
.btn-valider {
    font-weight: bold;
    background-color: var(--rose);
    padding: 0 20px;
}

.space-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.button-genre-container {
    display: flex;
    gap: 1rem;
}

/* Pout styliser les boutons en gras juste sur cette page (car il y a un style general pour les boutons dans le fichier index.scss) */
.bold-link {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

.conteneur-modifcompte {
    background-color: var(--jaune);
    padding: 20px;
    border-radius: 10px;
    line-height: 10px;
    margin-bottom: 15px;
}

.titreLabel {
    margin: 10px 0px;
}
