/* Styles for the slider */
h1 {
    font-size: 35px;
    text-align: center;
    padding: 1rem 0;
}

h2 {
    padding: 0.5rem 0;
}

/* Styles for the slider */
.sous-category-videos-row {
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.sous-category-videos-slider {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding: 0 1.5rem;
  }

.sous-category-video-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    flex: 0 0 auto;
    overflow: hidden;
    background-color: var(--blanc);
  }
  
  .sous-category-video-image {
    height: 340px;
    width: 100%;
    object-fit: cover;
  }
  
  .sous-category-video-container {
    padding: 10px;
    background-color: var(--blanc);
    text-align: center;
  }
  
  .sous-category-video-container .card-title {
    font-size: 1rem;
    margin-top: 5px;
    white-space: normal;
    overflow: hidden;
    text-align: left;
  }

  /* Play button */
  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  