/* Les styles générals sone deplacés dans le fichier index.scss, les marges sont supprimés */

/* Les styles pour les boutons et elements qui se trouvent seulement sur cette page */

.montitre {
    text-transform: uppercase !important;
    color:var(--lilas) !important;
    font-weight: bold !important;
    margin-top: 20px;
}

.welcome,.identite {
    color: var(--rose);
    font-weight: bold;
}

.montitre,.welcome,.n-abonne 
.identite {
    text-transform: uppercase;
}

.n-abonne {
    color: var(--rose) !important; 
}
