.button-genre-container {
  display: flex;
  gap: 1rem;
}

.bold-link {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* .popup-content {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.popup-content p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
} */

