.lien-telechargement {
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 30px;
  
}

.lien-video {
  text-decoration: underline;
  align-items: first baseline;
}

.recherche-video {
display: flex;
align-items: center;
padding-left: 0px;
gap: 10px;
}

.btnj-rech {
  background-color: var(--jaune) !important;
}

.filtre {
  color:var(--rose);
}

.modif-supp {
  margin-top: 10px;
}

.modif-supp a {
align-items: self-start;
}

.btn-carousel {
  font-size: 1.5rem;
  margin: 0px 10px 0px 10px;
}