#navbarScroll {
  padding-left: 230px;
  padding-top: 5px;
  padding-bottom: 10px;
}

nav {
  background-color: var(--lilas) !important;
  box-shadow: 5px 0px 15px var(--lilas);
}

nav a {
  color: var(--rose) !important;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 1px 1px 0px var(--prune);
}

.navLogo img {
  width: 200px;
  margin: 10px 10px 10px 200px;
  position: absolute;
  top: 0px;
}

.me-2 {
  border: solid 1px var(--prune) !important;
  color: var(--prune) !important;
}

svg {
  width: 35px;
  margin-left: 20px;
  margin-right: 10px;
}

#boutonRechercher {
  font-family: 'Outfit' !important;
  background-color: var(--jaune) !important;
}