#boutonRechercher {
  font-family: 'Outfit' !important;
  background-color: var(--jaune) !important;
}

.me-2 {
  border: solid 1px var(--prune) !important;
  color: var(--prune) !important;
  width: 180px;
}

#rech {
  display: flex;
  align-items: center;
}

.mesCarrousels {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container-gestion {
  width: 100%;
  height: 300px;
  margin: 50px;
  margin-left: 220px;
}

