.videos-slider {
  display: flex;
  flex-wrap: wrap;   
  gap: 15px;
  justify-content: center;
}

.videos-row {
  padding: 10px;
}

.video-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  flex: 0 0 auto;
  overflow: hidden;
  background-color: var(--blanc);
}