.contact-form {
    margin: auto;
}

#username.form-control, #email.form-control {
    background-color: var(--lilas);
}

#sujet.form-control, #message.form-control,#file.form-control {
    background-color: var(--jaune);
}

#message.form-control {
    padding-bottom: 100px;
}

.env-contact {
    font-weight: bold;
}

/* faire un message de confirmation de réception de la demande maquette faite sur figma */