.contact-form {
    margin: auto;
    min-height:fit-content;
}

#message.form-control {
    padding-bottom: 100px;
}

.env-contact {
    font-weight: bold;
}

.conteneur-contact
{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
}

/* faire un message de confirmation de réception de la demande maquette faite sur figma */