#navbarScroll {
  padding-left: 150px;
  padding-top: 5px;
  padding-bottom: 10px;
}

#navbarScroll .nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-admin {
  background-color: var(--lilas);
}


.navbar-admin .navLogo img {
  width: 200px;
  margin: 10px 10px 10px 200px;
  position: absolute;
  top: 0px;
}

.me-2 {
  border: solid 1px var(--prune) !important;
  color: var(--prune) !important;
}

/*version mobile nav*/
@media (max-width: 576px) {
  .navLogoAdmin img {
    width: 120px;        
  }
}