.navbar-admin {
  background-color: var(--lilas);
}

.navbar-admin .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navLogoAdmin img {
  width: 200px;
  margin: 10px;
}

.navbar-admin .navbar-collapse {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-admin .navbar-nav {
  margin: 0 !important;
  display: flex;
  gap: 80px;
  padding: 0 150px !important;
  justify-content: center;
  flex-direction: row !important;
}

.navbar-admin .nav-link {
  color: var(--rose) !important;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 1px 1px 0px var(--prune);
  padding: 0 !important;
  margin: 0 !important;
}

.admin-connection {
  width: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.me-2 {
  border: solid 1px var(--prune) !important;
  color: var(--prune) !important;
}

/*version mobile nav*/
@media (max-width: 576px) {
  .navLogoAdmin img {
    width: 120px;        
  }
  
  .navbar-admin .navbar-nav {
    gap: 40px;
    padding: 0 20px !important;
  }
  
  .navbar-admin .nav-link {
    font-size: 16px !important;
  }
  
  .admin-connection {
    width: 25px;
    margin: 5px;
  }
}

.navbar-admin .nav-link.logout-link {
  color: var(--prune) !important;
  text-decoration: underline;
}