/*revoir l'espace entre les liens */

#navbarScroll {
  padding-left: 230px;
  padding-top: 5px;
  padding-bottom: 10px;
}

#navbarScroll .nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav {
  background-color: var(--lilas) !important;
  box-shadow: 5px 0px 15px var(--lilas);
}

nav a {
  color: var(--rose) !important;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 1px 1px 0px var(--prune);
  margin-right: 80px;
}

.navLogo img {
  width: 200px;
  margin: 10px;
  position: absolute;
  top: 0px;
}

.me-2 {
  border: solid 1px var(--prune) !important;
  color: var(--prune) !important;
}
