#monFooter {
  background-color: var(--jaune);
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  font-weight: bold;
}

/* Responsive pour mobile*/

@media (max-width: 576px) {
  #monFooter {
    padding: 15px;         
    text-align: center;     
  }

  #monFooter a {
    font-size: 14px;       
  }
}
