.conteneur-infocompte {
    width: 50vw;
    background-color: var(--jaune) !important;
    padding: 20px;
    border-radius: 10px;
    line-height: 10px;
    margin-bottom: 15px;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.lienmodif {
    font-weight: bold;
}

.corpsCompte {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Уменьшено расстояние */
    padding-top: 70px;
    padding-bottom: 50px;
}

.titreChamps {
    font-weight: bold;
}

.boutonsGestionCompte {
    display: flex;
    justify-content: space-between; /* Расположить кнопки по краям */
    width: 100%;
    max-width: 600px; /* Максимальная ширина контейнера кнопок */
    gap: 10px; /* Отступы между кнопками */
    margin-bottom: 50px;
}

.buttonSupprimer, .buttonLogout {
    width: 48%; /* Кнопки будут занимать 48% ширины контейнера */
    max-width: 250px; /* Ограничим максимальную ширину кнопок */
    margin-bottom: 0; /* Убрали лишний отступ снизу */
}

/* Одинаковый стиль для кнопок */
button, .buttonSupprimer {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff; /* Цвет кнопки */
    color: white;
    transition: background-color 0.3s;
}
