.titre-homedashboard {
  margin: 20px;
  text-align: center;
}

.conteneur-homedashboard {
  min-height: 75vh;
}

.images-homedashboard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 80px;
  flex-wrap: wrap; 
  gap: 20px;       
}

a {
  flex-direction: column;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.elements {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .images-homedashboard {
    flex-direction: column;
    align-items: center;
    margin: 20px;   
  }

  .elements {
    width: 100px;
    height: 100px;
    margin: auto;
  }

  h4 {
    font-size: 14px;
  }
}

