
.cards-homedashboard {
  display: flex;
  justify-content: space-between;
  flex-direction: raw;
  margin: 80px;
}

a {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.items {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}