@charset "utf-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: Mooli;
  color: var(--rose) !important;
  text-shadow: 1px 1px 0px var(--prune);
  font-weight: bold;
}

p, span, h5 {
  font-family: Outfit;
}

:root {
  --blanc: #fefefeff;
  --jaune: #fff28eff;
  --lilas: #ecc0d9;
  --rose: #fb7a97ff;
  --prune: #790C5Aff;
  --noir: #101010FF;
  }

a {
  text-decoration: none;
  color:var(--prune);
  font-family: Mooli;
}

a:hover {
  color:var(--prune);
}

#pexels {
  width: 100%;
}
/* BUTTONS */

.btn, button {
  font-family: Outfit;
  background-color: var(--lilas) !important;
  color: var(--prune) !important;
  border: solid 1px var(--prune) !important;
  box-shadow: none !important;
}

.btn-primary:hover {
  color: var(--prune);
  background-color:var(--lilas);
  border-color: none;
}

input::placeholder {
  font-size: 14px;
}
/* Navgation tabs */

.nav-tabs .nav-link {
  background-color: var(--lilas) !important;
  border: none;
  color: var(--prune) !important;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 8px;
  transition: background-color 0.3s ease;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link.active {
  background-color: var(--rose);
  color: var(--prune);
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  background-color: var(--rose) !important;
  border: none;
  color: var(--prune);
}

